/*button
---------------------------------------------------------------------------*/
button.btn1,
input.btn1 {
	min-width: 100px;
	margin: 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	padding: 10px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 15px;
	border-radius: 5px;
}
button.btn2,
input.btn2 {
	color: #FFF;
	padding: 10px 30px;
	font-size: 14px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
button.btn3,
input.btn3 {
	width: 195px;
	margin: 20px 5px 0;
	font-size: 16px;
	color: #ffffff;
	padding: 10px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
button.btn4,
input.btn4 {
	margin-top: 5px;
	padding: 2px 42px 0px;
	font-size: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
button.btn5,
input.btn5 {
	margin-top: 5px;
	padding: 4px 10px 2px;
	font-size: 10px;
	color: #ffffff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


/*button_color
---------------------------------------------------------------------------*/
button.green,
input.green {
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#6F3),
		to(#6C3));
	background: -moz-linear-gradient(
		center top,
		#6F3,#6C3);
}
button.red,
input.red {
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#F33),
		to(#C00));
	background: -moz-linear-gradient(
		center top,
		#F33,#C00);
	/* IE8-9 */  
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F33', endColorstr='#C00', GradientType=0)";
	 
	/* IE10 */  
	background: linear-gradient(to bottom,  #F33,  #C00); 
	
	/* IE11 */
	background: -ms-linear-gradient(top,  #F33,  #C00);
}
button.gray,
input.gray {
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#CCC),
		to(#999));
	background: -moz-linear-gradient(
		center top,
		#CCC,#999);
}
button.black,
input.black {
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#999),
		to(#666));
	background: -moz-linear-gradient(
		center top,
		#999,#666);
}
button.blue,
input.blue {
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#03F),
		to(#00F));
	background: -moz-linear-gradient(
		center top,
		#03F,#00F);
}
button.dimgray,
input.dimgray {
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#696969),
		to(#696969));
	background: -moz-linear-gradient(
		center top,
		#696969,#696969);

	/* IE8-9 */  
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#696969', GradientType=0)";
	 
	/* IE10,11 */  
	background: #696969;
}
button.deepblue,
input.deepblue {
	background: #376092;
}
button.crimson,
input.crimson {
	background: #ED615B;
}
button.teagreen,
input.teagreen {
	background: #77CD5C;
}


/*margin
---------------------------------------------------------------------------*/
button.margin_small,
input.margin_small {
	margin: 20px 0;
}
button.margin_large,
input.margin_large {
	margin: 40px 0;
}