/*font_color
---------------------------------------------------------------------------*/
.font_red {
	color: #ED615B;
}
.font_orange {
	color: #F19656;
}
.font_purple {
	color: #A45786;
}
.font_blue {
	color: #61A7F8;
}
.font_teagreen {
	color: #77CD5C;
}
.font_green {
	color: #1BAC5C;
}

/*list_color
---------------------------------------------------------------------------*/
.list_red {
	border-color: #ED615B;
}
.list_orange {
	border-color: #F19656;
}
.list_purple {
	border-color: #A45786;
}
.list_blue {
	border-color: #61A7F8;
}
.list_teagreen {
	border-color: #77CD5C;
}
.list_green {
	border-color: #1BAC5C;
}