@charset "utf-8";

/* clearfix */
.cf {
	zoom: 1;
}
.cf:before,.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
/* IE6 */
* html .cf {
	zoom: 1;
}
/* IE7 */
*:first-child+html .cfx {
	zoom: 1;
}


html {
	height: 100%;
}
body {
	text-align: center;
	background-color: #000000;
	z-index: -1;
	font-size: 14px;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
button:active,button:focus {
	outline: none;
}
img,abbr,acronym,fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
}
p {
	word-wrap: break-word;
	line-height: 1.4;
}
textarea {
	resize: none;
}
input {
	display: inline-block;
}
ul {
	list-style: none;
}
select,input[type="text"],input[type="password"],input[type="search"] {
	font-size: 14px;
	padding: 0 5px;
	border: 1px solid #c5cbcb;
	background: #ffffff;
}
input[type="text"].form-error {
	border: 1px solid #ea1717;
}
input[type="submit"],
button {
	background: transparent none;
	border: none;
	display: inline-block;
}
input[type="password"].form-error {
	border: 1px solid #ea1717;
}
input[type="radio"] {
	vertical-align: 1px;
}
input[type="checkbox"] {
	vertical-align: -2px;
}
textarea {
	display: block;
	border: 1px solid #c5cbcb;
	background: #ffffff;
}
textarea.form-error {
	border: 1px solid #ea1717;
}
.placeholder {
	color: #AAA;
}
:-ms-input-placeholder {
	color: #AAA;
}
::--webkit-input-placeholder {
	color: #AAA;
}
:-moz-placeholder {
	color: #AAA;
}
div.error{
	margin-bottom: 30px;
	padding: 7px 10px;
	font-size: 12px;
	color: #ea1717;
	background: #fae5e5;
}
div.error-message {
	clear: left;
	margin: 7px 0px;
	font-size: 13px;
	color: #ea1717;
}
p.error-message {
	clear: both;
	padding: 5px 0;
	color: #ea1717;
}
form {
	display: inline;
}
span.list {
	margin: 0 5px;
	font-size: 10px;
	color: #999;
}
span.red {
	color: #ff0000;
	margin: 10px;
}



/*link
---------------------------------------------------------------------------*/
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	color: #FFF;
}
button a:link {
	color: #FFF;
}
button a:visited {
	color: #FFF;
}
a:hover,
input[type="submit"]:hover,
button:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
a.focusLink {
	position: relative;
	top: 1px;
}


/*main
---------------------------------------------------------------------------*/
#wrap {
	width: 100%;
	height: auto;
	min-width: 960px;
}
#main {
	margin: 0 auto;
	padding-top: 60px;
}
#main_title {
	width: 90%;
	height: 105px;
	margin: 0 auto;
}
#main_title .img {
	width: 311px;
	height: 105px;
	margin: 0 auto;
	background: url(../img/main_title.png) no-repeat;
}
#content_wrap {
	padding: 20px 90px 0;
}
#grid-content {
	margin: 0 auto;
}

/*font
---------------------------------------------------------------------------*/
.font_10 {
	font-size: 10px;
}
.font_12 {
	font-size: 12px;
}
.font_14 {
	font-size: 14px;
}
.font_16 {
	font-size: 16px;
}
.font_18 {
	font-size: 18px;
}
.font_20 {
	font-size: 20px;
}
.ridge {
	border-bottom: ridge;
}
.groove {
	border-bottom: groove 1px;
}
.dotted {
	border-bottom: dotted;
}
a.under_link {
	text-decoration: underline;
}