/*detail
---------------------------------------------------------------------------*/
#detail .btn,
#detail .detail_main,
#detail .index {
	width: 740px;
	margin: 0 auto;
	background: #FFF;
}
#detail .btn {
	margin-top: 20px;
	padding-bottom: 2px;
	z-index: 10;
}
#detail .shadow1 {
	width: 740px;
	height: 56px;
	box-shadow: 0 1px 1px 0px rgba(194,194,194,1.00);
}
#detail .btn .like {
	width: 104px;
	height: 36px;
	margin: 10px 5px 10px 20px;
	background: url(../img/like.png) no-repeat;
	float: left;
}
#detail .btn .share {
	width: 93px;
	height: 36px;
	margin: 10px 0;
	background: url(../img/share.png) no-repeat;
	float: left;
}
#detail .btn .like:hover,
#detail .btn .share:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
#detail .detail_main {
	padding: 40px 0 2px 0;
}
#detail .detail_main_wrap {
	margin: 0 auto;
	padding-bottom: 40px;
	box-shadow: 0 1px 1px 0px rgba(194,194,194,1.00);
}
#detail .detail_main .detail_img {
	margin: 0 auto;
}
#detail .detail_main .date,
#detail .detail_main .person {
	margin: 0 auto;
	text-align: left;
}
#detail .detail_main .date p,
#detail .detail_main .person p {
	margin: 5px;
}
#detail .detail_main .date {
	padding-top: 5px;
	color: #3F3F3F;
	font-size: 12px;
}
#detail .detail_main .person {
	color: #000;
	font-size: 15px;
	font-weight: bold;
}
#detail .index {
	width: 720px;
	height: 50px;
	padding: 10px 10px 0 10px;
}
#detail .index_left {
	width: 60px;
	height: 41px;
	background: url(../img/back.png) no-repeat;
	float: left;
}
#detail .index_center {
	width: 80px;
	height: 41px;
	margin: 0 auto;
	background: url(../img/index.png) no-repeat;
}
#detail .index_right {
	width: 60px;
	height: 41px;
	background: url(../img/next.png) no-repeat;
	position: relative;
	top: -41px;
	float: right;
}
#detail .index_left:hover,
#detail .index_center:hover,
#detail .index_right:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
