/*footer
---------------------------------------------------------------------------*/
footer {
	margin-top: 200px;
	padding: 0px 100px 0px 100px;
	color: #FFF;
	text-align: left;
	border-top: 1px solid rgba(102,102,102,1.00);
}
footer .foot_1 {
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
	border-bottom: 1px solid rgba(126,126,126,1.00);
}
footer .foot_2 {
	height: 65px;
	line-height: 65px;
}
footer .foot_2 ul li {
	margin-right: 20px;
	float: left;
}
footer .foot_2 ul li a {
	margin-left: 40px;
}
footer .foot_2 ul li.facebook {
	background: url(../img/f_icon.png) no-repeat left 45%;
}
footer .foot_2 ul li.twitter {
	background: url(../img/t_icon.png) no-repeat left 45%;
}
footer small {
	font-size: 12px;
	float: right;
}