/*header
---------------------------------------------------------------------------*/
header {
	width: 100%;
	min-width: 960px;
	height: 58px;
	border-top: 1px solid rgba(102,102,102,1.00);
	border-bottom: 1px solid rgba(102,102,102,1.00);
	background: rgba(39,39,39,1.00);
	position: fixed;
	z-index: 10;
}

/*nav
---------------------------------------*/
nav {
	margin: 0 auto;
	padding: 0 100px;
}
/*left
--------------------*/
nav .left {
	width: 275px;
	height: 58px;
	line-height: 58px;
	float: left;
}
.left .search_menu {
	margin-top: 14px;
	float: left;
}
.panel {
	height: 90px;
	margin-left: 100px;
	padding: 10px 0;
	background: rgba(204,204,204,1.00);
	position: absolute;
	top: 58px;
	left: 0px;
	z-index: 1000;
	display: none;
}
.panel:before {
	width: 0;
	height: 0;
	content: "";
	border: 10px solid transparent;
	border-bottom: 10px solid rgba(204,204,204,1.00);
	position: absolute;
	top: -18px;
	left: 8px;
}
.panel ul li {
	float: left;
}
.panel ul li div {
	height: 30px;
	padding: 0 30px;
	font-size: 15px;
	line-height: 30px;
	text-align: left;
}
.panel ul li div a {
	color: #000;
}
.left .search {
	width: 175px;
}
.left .search_btn {
	width: 21px;
	height: 19px;
	background: url(../img/search_btn.jpg) no-repeat;
}
/*center
--------------------*/
nav .center {
	width: 182px;
	height: 58px;
	margin: 0 auto;
	background: url(../img/logo.jpg) no-repeat;
}
nav .center:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
nav .center #logo {
	width: 182px;
	height: 58px;
	display: block;
}
/*right
--------------------*/
nav .right {
	width: 130px;
	height: 58px;
	line-height: 58px;
	color: #FFF;
	float: right;
	position: relative;
	top: -58px;
}