/*index
---------------------------------------------------------------------------*/
#grid-content .list {
	width: 230px;
	margin: 0 10px 20px 10px;
	background: #FFF;
	float: left;
}
#grid-content .list:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
#grid-content .list .list_img {
	width: 228px;
	padding: 1px 1px 0 1px;
}
#grid-content .list .date,
#grid-content .list .person {
	width: 200px;
	height: 20px;
	margin: 0 15px;
	padding-top: 15px;
	color: #3F3F3F;
	text-align: left;
	font-size: 12px;
}
#grid-content .list .person {
	height: 30px;
	padding-top: 0;
	color: #000;
	font-size: 15px;
	font-weight: bold;
}